
<img class="footer--logo" src="/assets/images/flower-green.svg" alt="Back to plants"/>

<footer class="footer--wrapper">
  <a class="footer--link" href="/de/datenschutz">
    {% if page.language == "de" %}
      Datenschutz
    {% else %}
      Privacy Policy
    {% endif %}
  </a>
  <a class="footer--link" href="/de/imprint">
    {% if page.language == "de" %}
      Impressum
    {% else %}
      Imprint
    {% endif %}
  </a>
  <a class="footer--link" href="/en/terms">
    {% if page.language == "de" %}
      Nutzungsbedingungen
    {% else %}
      Terms
    {% endif %}
  </a>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156080695-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156080695-2');
</script>


{% if page.language == "de" %}
  <script type="text/javascript" id="cookiebanner"
  src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
  data-height="20px"
  data-moreinfo="/datenschutz"
  data-message="Wir benutzen Cookies um die Website zu verbessern.">
  </script>
{% else %}
  <script type="text/javascript" id="cookiebanner"
    src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
    data-height="20px"
    data-moreinfo="/datenschutz"
    data-message="We use cookies to improve your browsing experience.">
</script>
{% endif %}

